In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://en.wikipedia.org/wiki/Main_Page")

soup=BeautifulSoup(page.content)

header_tags = []


for i in soup.find_all('span',class_="mw-headline"):
        header_tags.append(i.text)


df = pd.DataFrame({"Header": header_tags})
df.index +=1

df

                          Header
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [37]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://presidentofindia.nic.in/former-presidents.htm"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

President_Name = []
Office_term = []

for i in soup.find_all('div', class_="presidentListing"):
    President_Name.append(i.text.split('(')[0].replace('\n',''))
for i in soup.find_all('div', class_="presidentListing"):
    Office_term.append(i.text.split(':')[1].replace('\n', '').replace('http',''))

data = {"Name": President_Name, "Term of Office": Office_term}
df = pd.DataFrame(data)
df.index +=1
df

,Name,Term of Office
1,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022 s"
2,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
12,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [36]:
import pandas as pd
from bs4 import BeautifulSoup
import requests


page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")


soup=BeautifulSoup(page.content,'html.parser')


Team=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    Team.append(i.text)


Matches=[]
Points=[]
ODI_MMatches=soup.find_all('td',class_="table-body__cell u-center-text")
for i in range(0,len(ODI_MMatches),2):
    Matches.append(ODI_MMatches[i].get_text().replace(',',''))
    Points.append(ODI_MMatches[i+1].get_text().replace(',',''))
match_1 = soup.find("td",class_="rankings-block__banner--matches").get_text()
Matches.insert(0,match_1)
points_1 = soup.find('td',class_="rankings-block__banner--points").get_text().replace(',','')
Points.insert(0,points_1)


Rating=[]
rating_all = soup.find_all('td', class_="table-body__cell u-text-right rating")
for i in rating_all:
    Rating.append(i.get_text().replace('\n',''))
Rating_1 = soup.find('td', class_="rankings-block__banner--rating u-text-right").get_text().replace('\n','').strip()
Rating.insert(0,Rating_1)


ICC_top_10_MTeams = pd.DataFrame({})
ICC_top_10_MTeams['Team'] = Team[0:10]
ICC_top_10_MTeams['Matches'] = Matches[0:10]
ICC_top_10_MTeams['Points'] = Points[0:10]
ICC_top_10_MTeams['Rating'] = Rating[0:10]

ICC_top_10_MTeams.index +=1


ICC_top_10_MTeams

            Team Matches Points Rating
1      Australia      23   2714    118
2       Pakistan      20   2316    116
3          India      33   3807    115
4    New Zealand      27   2806    104
5        England      24   2426    101
6   South Africa      19   1910    101
7     Bangladesh      25   2451     98
8      Sri Lanka      28   2378     85
9    Afghanistan      13   1067     82
10   West Indies      32   2201     69

In [35]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")


soup=BeautifulSoup(page.content,"html.parser")


Player=[]
Team=[]
Rating=[]

Player1=soup.find('div',"rankings-block__banner--name-large").get_text()
PlayerAll=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in PlayerAll:
    Player.append(i.get_text().replace('\n',''))
Player.insert(0,Player1)


Player1_Team=soup.find('div',class_='rankings-block__banner--nationality').get_text().replace('\n','')
PlayerAll_Team=soup.find_all('span',class_='table-body__logo-text')
for i in PlayerAll_Team:
    Team.append(i.get_text())
Team.insert(0,Player1_Team)



Player1_Rating=soup.find('div',class_='rankings-block__banner--rating').get_text()
PlayerAll_Rating=soup.find_all('td',class_='table-body__cell rating')
for i in PlayerAll_Rating:
    Rating.append(i.get_text())
Rating.insert(0,Player1_Rating)


ODI_MenBow_10=pd.DataFrame({})
ODI_MenBow_10['Player']=Player[0:10]
ODI_MenBow_10['Team']=Team[0:10]
ODI_MenBow_10['Rating']=Rating[0:10]

ODI_MenBow_10.index +=1
ODI_MenBow_10

              Player Team Rating
1     Josh Hazlewood  AUS    705
2     Mohammed Siraj  IND    691
3     Mitchell Starc  AUS    686
4         Matt Henry   NZ    667
5        Trent Boult   NZ    660
6         Adam Zampa  AUS    652
7        Rashid Khan  AFG    640
8     Shaheen Afridi  PAK    630
9   Mujeeb Ur Rahman  AFG    630
10     Mohammad Nabi  AFG    626

In [30]:
import pandas as pd
import requests
from bs4 import BeautifulSoup


page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")


soup=BeautifulSoup(page.content,"html.parser")


Team=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    Team.append(i.text)



Matches=[]
Points=[]
ODI_WMatches=soup.find_all('td',class_="table-body__cell u-center-text")
for i in range(0,len(ODI_WMatches),2):
    Matches.append(ODI_WMatches[i].get_text().replace(',',''))
    Points.append(ODI_WMatches[i+1].get_text().replace(',',''))
match_1 = soup.find("td",class_="rankings-block__banner--matches").get_text()
Matches.insert(0,match_1)
points_1 = soup.find('td',class_="rankings-block__banner--points").get_text().replace(',','')
Points.insert(0,points_1)



Rating=[]
rating_all = soup.find_all('td', class_="table-body__cell u-text-right rating")
for i in rating_all:
    Rating.append(i.get_text().replace('\n',''))
Rating_1 = soup.find('td', class_="rankings-block__banner--rating u-text-right").get_text().replace('\n','').strip()
Rating.insert(0,Rating_1)



ICC_top_10_WTeams = pd.DataFrame({})
ICC_top_10_WTeams['Team'] = Team[0:10]
ICC_top_10_WTeams['Matches'] = Matches[0:10]
ICC_top_10_WTeams['Points'] = Points[0:10]
ICC_top_10_WTeams['Rating'] = Rating[0:10]
ICC_top_10_WTeams.index +=1
ICC_top_10_WTeams

            Team Matches Points Rating
1      Australia      21   3603    172
2        England      28   3342    119
3   South Africa      26   3098    119
4          India      27   2820    104
5    New Zealand      25   2553    102
6    West Indies      27   2535     94
7       Thailand      11    821     75
8     Bangladesh      14    977     70
9       Pakistan      27   1678     62
10     Sri Lanka       9    479     53

In [29]:
import pandas as pd
import requests
from bs4 import BeautifulSoup



page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")




soup=BeautifulSoup(page.text,'html.parser')




Name=[]
Team=[]
Rating=[]




Player1 = soup.find("div",class_="rankings-block__banner--name-large").get_text()

Player_all = soup.find_all('td',class_="table-body__cell rankings-table__name name")

for i in Player_all:
    Name.append(i.get_text().replace('\n',''))
Name.insert(0,Player1)



Player1_Team=soup.find('div',class_="rankings-block__banner--nationality").get_text().replace('\n','')
Playerall_Teams=soup.find_all('span',class_="table-body__logo-text")
for i in Playerall_Teams:
    Team.append(i.get_text())
Team.insert(0,Player1_Team)



Player1_Rating=soup.find('div',class_='rankings-block__banner--rating').get_text()
Playerall_Rating=soup.find_all('td',class_='table-body__cell rating')
for i in Playerall_Rating:
    Rating.append(i.get_text())
Rating.insert(0,Player1_Rating)



ODI_WMenBat_10=pd.DataFrame({})
ODI_WMenBat_10['Player']=Name[0:10]
ODI_WMenBat_10['Team']=Team[0:10]
ODI_WMenBat_10['Rating']=Rating[0:10]
ODI_WMenBat_10.index +=1
ODI_WMenBat_10

                 Player Team Rating
1           Beth Mooney  AUS    754
2       Laura Wolvaardt   SA    732
3        Natalie Sciver  ENG    731
4           Meg Lanning  AUS    717
5      Harmanpreet Kaur  IND    716
6       Smriti Mandhana  IND    714
7   Chamari Athapaththu   SL    673
8          Ellyse Perry  AUS    626
9        Tammy Beaumont  ENG    595
10      Stafanie Taylor   WI    588

In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup



page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")




soup=BeautifulSoup(page.text,'html.parser')




Name=[]
Team=[]
Rating=[]



Player1 = soup.find("div",class_="rankings-block__banner--name-large").get_text()

Player_all = soup.find_all('td',class_="table-body__cell rankings-table__name name")

for i in Player_all:
    Name.append(i.get_text().replace('\n',''))
Name.insert(0,Player1)



Player1_Team=soup.find('div',class_="rankings-block__banner--nationality").get_text().replace('\n','')
Playerall_Teams=soup.find_all('span',class_="table-body__logo-text")
for i in Playerall_Teams:
    Team.append(i.get_text())
Team.insert(0,Player1_Team)



Player1_Rating=soup.find('div',class_='rankings-block__banner--rating').get_text()
Playerall_Rating=soup.find_all('td',class_='table-body__cell rating')
for i in Playerall_Rating:
    Rating.append(i.get_text())
Rating.insert(0,Player1_Rating)



ODI_WMenAR_10=pd.DataFrame({})
ODI_WMenAR_10['Player']=Name[0:10]
ODI_WMenAR_10['Team']=Team[0:10]
ODI_WMenAR_10['Rating']=Rating[0:10]
ODI_WMenAR_10.index +=1

ODI_WMenAR_10

               Player Team Rating
1     Hayley Matthews   WI    373
2      Natalie Sciver  ENG    371
3        Ellyse Perry  AUS    366
4      Marizanne Kapp   SA    349
5         Amelia Kerr   NZ    336
6       Deepti Sharma  IND    322
7    Ashleigh Gardner  AUS    292
8       Jess Jonassen  AUS    250
9            Nida Dar  PAK    232
10  Sophie Ecclestone  ENG    205

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)


soup = BeautifulSoup(response.content, 'html.parser')


headlines = []
times = []
news_links = []

articles = soup.find_all(class_="Card-titleContainer")


for article in articles:
    headline = article.find(class_="Card-title").text.strip()
    headlines.append(headline)
    
    
    time_element = article.find(class_="Card-time")
    if time_element:
        time = time_element.text.strip()
    else:
        time = None
    times.append(time)
    
    
    news_link_element = article.find('a')
    if news_link_element:
        news_link = news_link_element['href']
    else:
        news_link = None
    news_links.append(news_link)

data = {
    'Headline': headlines,
    'Time': times,
    'News Link': news_links}
df = pd.DataFrame(data)
df.index +=1
df

,Headline,Time,News Link
1,Most investors believe we are in a new bull ma...,None,https://www.cnbc.com/2023/06/30/most-investors...
2,S&P 500 rises on Friday to close out big first...,None,https://www.cnbc.com/2023/06/29/stock-market-t...
3,"Ukraine, U.S. agree: counteroffensive creeps a...",None,https://www.cnbc.com/2023/07/01/ukraine-us-agr...
4,What next for Wagner? Russia's Putin battles f...,None,https://www.cnbc.com/2023/06/30/russia-ukraine...
5,Trump says Putin has been 'somewhat weakened';...,None,https://www.cnbc.com/2023/06/30/ukraine-war-li...
6,International Monetary Fund agrees on crucial ...,None,https://www.cnbc.com/2023/06/30/international-...
7,The UK wants to be a strong voice for free tra...,None,https://www.cnbc.com/video/2023/06/30/the-uk-w...
8,A shipping emissions showdown stands in the wa...,None,https://www.cnbc.com/2023/06/29/imo-shipping-s...
9,Siemens Energy shares plunge more than 37% as ...,None,https://www.cnbc.com/2023/06/23/siemens-energy...
10,UN climate talks stall over cash — setting the...,None,https://www.cnbc.com/2023/06/16/bonn-climate-t...
11,Europe sounds the alarm over its worsening wat...,None,https://www.cnbc.com/2023/06/16/water-crisis-e...
12,Water scarcity is emerging as a global economi...,None,https://www.cnbc.com/2023/06/13/water-scarcity...
13,Medicare will allow pharmaceutical companies t...,None,https://www.cnbc.com/2023/06/30/medicare-pharm...
14,Over $200 billion in Covid loans potentially s...,None,https://www.cnbc.com/2023/06/27/fraudsters-sto...
15,Walgreens slashes earnings guidance due to low...,None,https://www.cnbc.com/2023/06/27/walgreens-wba-...
16,Moderna files for FDA approval of updated Covi...,None,https://www.cnbc.com/2023/06/22/moderna-files-...
17,"Watch live: Biden, Modi speak at the White House",None,https://www.cnbc.com/2023/06/22/watch-live-bid...
18,"He spent 250,000 euros to renovate a penthouse...",None,https://www.cnbc.com/2023/06/26/real-estate-in...
19,Serving 'lunch' before midnight — and other wa...,None,https://www.cnbc.com/2023/06/22/how-to-reduce-...
20,These workers take ‘hush trips.’ Here’s how th...,None,https://www.cnbc.com/2023/06/20/hush-trips-her...
21,Michelin Guide adds 17 food stalls in Singapor...,None,https://www.cnbc.com/2023/06/16/michelin-guide...
22,"Disney World is packed, but lines can be short...",None,https://www.cnbc.com/2023/06/15/are-the-lines-...
23,The 10 best U.S. cities for digital nomads—New...,None,https://www.cnbc.com/2023/07/02/the-10-best-us...
24,Barbara Corcoran on the first time she felt su...,None,https://www.cnbc.com/2023/07/02/barbara-corcor...
25,Ariana Madix is selling 'Scandoval' merch and ...,None,https://www.cnbc.com/2023/07/01/vanderpump-rul...
26,"40-year-old pays $1,600/month to live in a tin...",None,https://www.cnbc.com/2023/07/01/40-year-old-pa...
27,Meet the couples winning free weddings worth u...,None,https://www.cnbc.com/2023/07/01/couples-win-fr...

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd



page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page



soup=BeautifulSoup(page.text,'html.parser')
soup




Paper_Title=[]
Authors=[]
Pub_Date=[]
Paper_URL=[]


Papers=soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg')
for i in Papers:
    Paper_Title.append(i.get_text())
    

author=soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO')
for i in author:
    Authors.append(i.get_text())
    

PubDate=soup.find_all('span',class_='sc-1thf9ly-2 dvggWt')
for i in PubDate:
    Pub_Date.append(i.get_text())


soup2=soup.find('div',class_='sc-orwwe2-3 jOMrrY').find_all('a')
for i in soup2:
    Paper_URL.append(i.get('href', None))


Most_Downloaded=pd.DataFrame({})
Most_Downloaded['Title']=Paper_Title
Most_Downloaded['Author']=Authors
Most_Downloaded['Publish Date']=Pub_Date
Most_Downloaded['URL']=Paper_URL
Most_Downloaded.index +=1
Most_Downloaded

,Title,Author,Publish Date,URL
1,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
2,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
4,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
5,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
6,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
7,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
8,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
9,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
10,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
12,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
13,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
14,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
15,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
16,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
17,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
18,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
19,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
20,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
21,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
22,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
23,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
24,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd



page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page



soup=BeautifulSoup(page.text,'html.parser')
soup




Rest_Name=[]
Cuisine=[]
Location=[]
Rating=[]
Image_URL=[]


Name=soup.find_all('a',class_='restnt-name ellipsis')
for i in Name:
    Rest_Name.append(i.get_text())
    

cui=soup.find_all('span',class_='double-line-ellipsis')
for i in cui:
    Cuisine.append(i.text.split('|')[1])

Loc=soup.find_all('div',class_='restnt-loc ellipsis')
for i in Loc:
    Location.append(i.get_text())
    

Rate=soup.find_all('div',class_='restnt-rating rating-4')
for i in Rate:
    Rating.append(i.get_text())
    
imgurl=soup.find_all('img',class_='no-img')
for i in imgurl:
    Image_URL.append(i.get('data-src'))
    




Rest_Data=pd.DataFrame({})
Rest_Data['Title']=Rest_Name
Rest_Data['Cuisine']=Cuisine
Rest_Data['LOcation']=Location
Rest_Data['Rating']=Rating
Rest_Data['ImageURL']=Image_URL
Rest_Data.index +=1
Rest_Data

,Title,Cuisine,LOcation,Rating,ImageURL
1,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...